@media (min-width: 1200px) and (max-width: 1400px) {
    .left img {
        width: 95%;
    }

    .container_func {
        margin-top: -550px;
    }

    form .buttons {
        margin-left: 33%;
    }

}

@media (min-width: 992px) and (max-width: 1199px) {
    .left img {
        width: 95%;
    }

    .container_func {
        margin-top: -550px;
    }

    form .btn {
        margin-top: -350px;
    }
    
    form .buttons {
        width: 80%;
        margin-left: 25%;
    }

}

@media (min-width: 768px) and (max-width: 991px) {
    .left img {
        width: 95%;
    }

    .container_func {
        margin-top: -550px;
    }

    form .btn {
        margin-top: -350px;
    }
    
    form .buttons {
        width: 80%;
        margin-left: 18%;
    }

}

@media (min-width: 576px) and (max-width: 767px) {
    .container {
        grid-template-columns: 40% 60%;
        grid-template-rows: 90%;
    }

    .left img {
        width: 100%;
    }

    .container_func {
        margin-top: -570px;
    }

    form .btn {
        margin-top: -350px;
    }
    
    form .buttons {
        width: 80%;
        margin-left: 15%;
    }
}

@media (min-width: 414px) and (max-width: 575px) {
    .container {
        grid-template-columns: 0% 90%;
        grid-template-rows: 90%;
    }

    .left img {
        display: none;
    }

    .right{
        margin-left: 5%;
    }

    .container_func {
        margin-top: -550px;
    }

    form .btn {
        margin-top: -345px;
    }
    
    form .buttons {
        width: 80%;
        margin-left: 25%;
    }

}

@media (min-width: 390px) and (max-width: 413px) {
    .container {
        grid-template-columns: 0% 90%;
        grid-template-rows: 90%;
    }

    .left img {
        display: none;
    }

    .right{
        margin-left: 5%;
    }

    .container_func {
        margin-top: -550px;
    }

    form .btn {
        margin-top: -345px;
    }
    
    form .buttons {
        margin-left: 15%;
    }
}

@media (min-width: 360px) and (max-width: 389px) {
    .container {
        grid-template-columns: 0% 90%;
        grid-template-rows: 95%;
    }

    .left img {
        display: none;
    }

    .right{
        margin-left: 5%;
    }

    .container_func {
        margin-top: -580px;
    }

    form .btn {
        margin-top: -345px;
    }
    
    form .buttons {
        margin-left: 10%;
    }


    
}